.promotions-dark .main-header .navbar {
  background-color: #ec192a;
}
.promotions-dark .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.promotions-dark .main-header .navbar .nav > li > a:hover,
.promotions-dark .main-header .navbar .nav > li > a:active,
.promotions-dark .main-header .navbar .nav > li > a:focus,
.promotions-dark .main-header .navbar .nav .open > a,
.promotions-dark .main-header .navbar .nav .open > a:hover,
.promotions-dark .main-header .navbar .nav .open > a:focus {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.promotions-dark .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.promotions-dark .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.promotions-dark .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.promotions-dark .main-header .navbar .sidebar-toggle:hover {
  background: #9c2020;
}
@media (max-width: 767px) {
  .promotions-dark .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .promotions-dark .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .promotions-dark .main-header .navbar .dropdown-menu li a:hover {
    background: #fff;
  }
}
.promotions-dark .main-header .logo {
  background-color: #9c2020;
  color: #fff;
  border-bottom: 0px solid transparent;
}
.promotions-dark .main-header .logo:hover {
  background-color: #9c2020;
  
}
.promotions-dark .main-header li.user-header {
  background-color: #02d483;
  color: #000 !important;
}
.promotions-dark .content-header {
  background: transparent;
}
.promotions-dark .wrapper,
.promotions-dark .main-sidebar,
.promotions-dark .left-side {
  background-color: #222d32;
  background-color: rgb(27, 27, 27);
}

.sidebar{
  /*height: 780px !important;
  overflow-y: scroll*/
}

.promotions-dark .user-panel > .info,
.promotions-dark .user-panel > .info > a {
  color: #fff;
}
.promotions-dark .sidebar-menu > li.header {
  color: #2c3b41;
  background: #fff020;
}
.promotions-dark .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.promotions-dark .sidebar-menu > li:hover > a,
.promotions-dark .sidebar-menu > li.active > a {
  color: #ffffff;
  background: #2c3b41;
}
.promotions-dark .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #2c3b41;
}
.promotions-dark .sidebar a {
  color: #b8c7ce;
}
.promotions-dark .sidebar a:hover {
  text-decoration: none;
}
.promotions-dark .treeview-menu > li > a {
  color: #8aa4af;
}
.promotions-dark .treeview-menu > li.active > a,
.promotions-dark .treeview-menu > li > a:hover {
  color: #ffffff;
}
.promotions-dark .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.promotions-dark .sidebar-form input[type="text"],
.promotions-dark .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.promotions-dark .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 2px !important;
}
.promotions-dark .sidebar-form input[type="text"]:focus,
.promotions-dark .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.promotions-dark .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.promotions-dark .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
  border-bottom-left-radius: 0 !important;
}

.sidebar-menu > li > a:hover{
  border-right: none !important;
}

.sidebar-menu > .active{
  border-right: solid 4px #ec192a;
}

html, body{margin: 0; padding: 0}

.wrapper{
  background: #eee !important;
}

.content-wrapper{
  background: #eee !important;
  margin-top: -10px !important;
  min-height: 710px !important;
  
}

footer{
  background: #fff !important;
  color: #fff;
}

.fa-2X{
  font-size: 18px !important;
  color: #fff !important;
  margin-right: 10px;
}

.logo-lg > img ,.logo-mini > img{
  position: relative;
  height:70px !important;
 
}

footer{
  /*background: #9fa638 !important;*/
  color: #5d5d5d !important;
  text-decoration: none;
  font-weight: normal !important;
  line-height: 26px !important;
}


.debug{
  border: solid 2px #00a65a;
}

.borderleft{
  border-left: solid 1px #eee;
  
}

.user-menu{
  border-radius: 100px;
  background: #9c2020;
  margin-left: 10px;
  color: #fff;
}

.box-body{padding-left: 25px !important}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.popup .popuptext {
  visibility: hidden;
  width: 700px;
  background-color: #ff299c;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 50%;
  left: 50%;
  margin-top: 1px;
  margin-left: -30px
}

.slimScrollBar{
  background-color: #000 !important;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
  from {
      opacity: 0
  }
  to {
      opacity: 1
  }
}

@keyframes fadeIn {
  from {
      opacity: 0
  }
  to {
      opacity: 1
  }
}


